// Write your custom css/scss here

.color-white-hover:hover {
 background: black !important;
 color: white !important;
 border: solid black !important;
}

.color-white-hover i:hover {
 color: white !important; 
}

.color-white-hover.active {
 background: black !important;
 color: white !important;
 border: solid black !important;
}

.clr-primary{
  color: #8890f3;
}


