// Write your custom css/scss here

.color-white-hover:hover {
 color: white !important; 
}

.color-white-hover.active {
 color: white !important; 
 background: #58c5b0 !important;
 border: none !important;
}

.clr-primary{
  color: #8890f3;
}


